# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.up-unity-example-tanks-scriptable-objects-webinar.iml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
