using System;
using System.Collections.Generic;
using MachinationsUP.Engines.Unity;
using MachinationsUP.Integration.Binder;
using MachinationsUP.Integration.Elements;
using MachinationsUP.Integration.Inventory;
using UnityEngine;

[CreateAssetMenu(menuName = "MachinationsOut/<<CLASS NAME>>")]
public class <<CLASS NAME>> : ScriptableObject, IMnScriptableObject
{

    //Constants for imported Machinations Elements.
    <<CONSTANTS DECLARATION>>
    
    //Variables used to value-transfer with Machinations Elements.
    <<VARIABLES DECLARATION>>
    
    public event EventHandler OnUpdatedFromMachinations;

    public void OnEnable ()
    {
        Debug.Log("Scriptable Object <<CLASS NAME>> OnEnable.");
        //Manifest that defines what the SO uses from Machinations.
        Manifest = new MnObjectManifest
        {
            Name = "Some Inspiring Name for This Set of Values",
            DiagramMappings = new List<DiagramMapping>
            {
                <<DIAGRAM MAPPINGS>>
            }
        };
        
        //Register this SO with the MDL.
        MnDataLayer.EnrollScriptableObject(this, Manifest);
    }

    #region IMnScriptableObject

    public MnObjectManifest Manifest { get; private set; }

    public ScriptableObject SO => this;

    /// <summary>
    /// Called when Machinations initialization has been completed.
    /// </summary>
    /// <param name="binders">The Binders for this Object.</param>
    public void MDLInitCompleteSO (Dictionary<string, ElementBinder> binders)
    {
        <<INIT FUNCTION>>
    }

    /// <summary>
    /// Called by the <see cref="MnDataLayer"/> when an element has been updated in the Machinations back-end.
    /// </summary>
    /// <param name="diagramMapping">The <see cref="DiagramMapping"/> of the modified element.</param>
    /// <param name="elementBase">The <see cref="ElementBase"/> that was sent from the backend.</param>
    public void MDLUpdateSO (DiagramMapping diagramMapping = null, ElementBase elementBase = null)
    {
        
    }

    #endregion

}